h1 {
  font-size: 20px;
  font-weight: bold;

}
h1.title {
  font-size: 28px;
  font-weight: bold;

}
h2 {
  font-size: 18px;
  font-weight: bold;

}
h3 {
  font-size: 20px;
  font-weight: normal;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
img {
    display: block;
    margin: auto;
}

img-circle {
    border-radius: 50%;
}

